{%extends "navegacion-operarios.html"%}

{% import 'macros.html' as macros %}

{%block content%}


<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a href="#tabprendas" class="nav-link active" data-toggle="tab">Prendas</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="tabprendas" role="tabpanel">

            <div class="row mt-2">
                <div class="col-12">
                    <div class="form-row">

                        <div class="col-12 col-lg-4 form-group">
                            <label for="tipo-prenda">Tipo de prenda</label>
                            <select name="tipo-prenda" id="tipo-prenda" class="form-control">
                                <option value="todas">Todas</option>
                                {{ macros.prendas_options(prendas)}}
                            </select>
                        </div>

                        <div class="col-12 col-lg-4 form-group">
                            <label for="usuario-responsable-prenda">Usuario responsable</label>
                            <input type="text" class="form-control" name="usuario-responsable-prenda" id="usuario-responsable-prenda" value="{{session['user']}}" disabled>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="prioridad-prenda">Prioritaria</label>
                            <select name="prioridad-prenda" id="prioridad-prenda" class="form-control">
                                <option value="todas">Todas</option>
                                <option value="si">Si</option>
                                <option value="no">No</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-1 form-group align-self-end">
                            <button class="btn btn-primary btn-block" id="buscador_prendas">Buscar</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-2">

                <div class="col-12">
                    
                    <table class="table table-bordered table-sm table-hover table-responsive" id="tabla_prendas">

                        <thead>
                            <th>Prioritaria</th>
                            <th>Numero de órden</th>
                            <th>Tipo</th>
                            <th>Cantidad</th>
                            <th>Área</th>
                            <th>Responsable</th>
                        </thead>

                    </table>

                </div>

            </div>

        </div>
    </div>

</div>

<script src="{{url_for('static', filename='script/informes-operarios.js')}}"></script>

{%endblock%}