{%extends "navegacion-ventas.html"%}

{% import 'macros.html' as macros %}

{%block content%}


<div class="container-fluid">

    <div class="row">

        <div class="col-12">

            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a href="#tabordenes" class="nav-link active" data-toggle="tab">Órdenes</a>
                </li>

                <li class="nav-item">
                    <a href="#tabprendas" class="nav-link" data-toggle="tab">Prendas</a>
                </li>

            </ul>
        
        </div>

    </div>

    <div class="tab-content">

        <div class="tab-pane fade show active" id="tabordenes" role="tabpanel">

            <div class="row mt-2">
                <div class="col-12">
                    <div class="form-row">

                        <div class="col-12 col-lg-3 form-group">
                            <label for="estado_orden">Estado</label>
                            <select name="estado_orden" id="estado_orden" class="form-control">
                                <option value="todas">Todas</option>
                                {{ macros.estados_orden_options(estados_orden) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="marca">Marca</label>
                            <select name="marca" id="marca" class="form-control">
                                <option value="todas">Todas</option>
                                {{ macros.marcas_options(marcas) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="prioridad">Prioritaria</label>
                            <select name="prioridad" id="prioridad" class="form-control">
                                <option value="todas">Todas</option>
                                <option value="si">Si</option>
                                <option value="no">No</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="fecha">Fecha de creación</label>
                            <input type="date" class="form-control" name="fecha" id="fecha">
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="fecha">Medio de compra</label>
                            <select class="form-control" name="medio_compra" id="medio_compra">
                                <option value="todas">Todas</option>
                                {{ macros.medios_compra_options(medios_compra) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="tiempo_estimado">Tiempo estimado de entrega</label>
                            <select class="form-control" name="tiempo_estimado" id="tiempo_estimado">
                                <option value="todas">Todas</option>
                                {{ macros.categorias_envio_options(categorias_envio) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group align-self-end">
                            <button class="btn btn-primary btn-block" id="buscador_ordenes">Buscar</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-2">

                <div class="col-12">
                    
                    <table class="table table-bordered table-sm table-hover table-responsive" id="tabla_ordenes">

                        <thead>
                            <th>Prioritaria</th>
                            <th>Número de órden</th>
                            <th>Prendas</th>
                            <th>Nombre del cliente</th>
                            <th>Identificación del cliente</th>
                            <th>Estado</th>
                            <th>Creada por</th>
                        </thead>

                    </table>

                </div>

            </div>

        </div>

        <div class="tab-pane fade" id="tabprendas" role="tabpanel">

            <div class="row mt-2">
                <div class="col-12">
                    <div class="form-row">

                        <div class="col-12 col-lg-3 form-group">
                            <label for="tipo-prenda">Tipo de prenda</label>
                            <select name="tipo-prenda" id="tipo-prenda" class="form-control">
                                <option value="todas">Todas</option>
                                {{ macros.prendas_options(prendas)}}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="usuario-responsable-prenda">Usuario responsable</label>
                            <input type="text" class="form-control" name="usuario-responsable-prenda" id="usuario-responsable-prenda">
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="area-responsable-prenda">Área responsable</label>
                            <select name="area-responsable-prenda" id="area-responsable-prenda" class="form-control">
                                <option value="">Todas</option>
                                {{ macros.areas_options(areas) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="prioridad-prenda">Prioritaria</label>
                            <select name="prioridad-prenda" id="prioridad-prenda" class="form-control">
                                <option value="todas">Todas</option>
                                <option value="si">Si</option>
                                <option value="no">No</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="material">Sin material</label>
                            <select name="material" id="material" class="form-control">
                                <option value="todas">Todas</option>
                                <option value="sin material">Sin material</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="medio_compra_prenda">Medio de compra</label>
                            <select class="form-control" name="medio_compra_prenda" id="medio_compra_prenda">
                                <option value="todas">Todas</option>
                                {{ macros.medios_compra_options(medios_compra) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="tiempo_estimado_prenda">Tiempo estimado de entrega</label>
                            <select class="form-control" name="tiempo_estimado_prenda" id="tiempo_estimado_prenda">
                                <option value="todas">Todas</option>
                                {{ macros.categorias_envio_options(categorias_envio) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="prenda-marca">Marca</label>
                            <select name="prenda-marca" id="prenda-marca" class="form-control">
                                <option value="todas">Todas</option>
                                {{ macros.marcas_options(marcas) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group align-self-end">
                            <button class="btn btn-primary btn-block" id="buscador_prendas">Buscar</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-2">

                <div class="col-12">
                    
                    <table class="table table-bordered table-sm table-hover table-responsive" id="tabla_prendas">

                        <thead>
                            <th>Prioritaria</th>
                            <th>Numero de órden</th>
                            <th>Tipo</th>
                            <th>Cantidad</th>
                            <th>Medio de Compra</th>
                            <th>Categoría</th>
                            <th>Área</th>
                            <th>Responsable</th>
                        </thead>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>

<script>
    document.getElementById("area-responsable-prenda").value = "{{session['area']}}";
</script>

<script src="{{url_for('static', filename='script/informes-jefe.js')}}"></script>

{%endblock%}