{%extends "navegacion-almacen.html"%}
{%block content%}


<div class="container-fluid">

    <div class="row">

        <div class="col-12">

            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a href="#tabordenes" class="nav-link active" data-toggle="tab">Órdenes</a>
                </li>

            </ul>
        
        </div>

    </div>

    <div class="tab-content">

        <div class="tab-pane active" id="tabordenes" role="tabpanel">

            <div class="row mt-2">
                <div class="col-12">
                    <div class="form-row">

                        <div class="col-12 col-lg-3 form-group">
                            <label for="estado_orden">Estado</label>
                            <select name="estado_orden" id="estado_orden" class="form-control">
                                <option value="almacen">Almacén</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="marca">Marca</label>
                            <select name="marca" id="marca" class="form-control">
                                <option value="todas">Todas</option>
                                <option value="crisa">Productos Crisa</option>
                                <option value="river_caves">River Caves</option>
                                <option value="rosie_glam">Rosie Glam</option>
                                <option value="fighting">Fighting</option>
                                <option value="possession">Possession</option>
                                <option value="artemis">Artemis</option>
                                <option value="akihabara">Akihabara</option>
                                <option value="happy_banana">Happy Banana</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="prioridad">Prioritaria</label>
                            <select name="prioridad" id="prioridad" class="form-control">
                                <option value="todas">Todas</option>
                                <option value="si">Si</option>
                                <option value="no">No</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="pagado">Orden paga</label>
                            <select name="pagado" id="pagado" class="form-control">
                                <option value="todas">Todas</option>
                                <option value="si">Si</option>
                                <option value="no">No</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="identificacion">Identificación del cliente</label>
                            <input type="text" class="form-control" name="identificacion" id="identificacion">
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="telefono">Telefono del cliente</label>
                            <input type="text" class="form-control" name="telefono" id="telefono">
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="fecha">Fecha de creación</label>
                            <input type="date" class="form-control" name="fecha" id="fecha">
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="fecha">Medio de compra</label>
                            <select class="form-control" name="medio_compra" id="medio_compra">
                                <option value="todas">Todas</option>
                                <option value="instagram">Instagram</option>
                                <option value="whatsapp">WhatsApp</option>
                                <option value="facebook">Facebook</option>
                                <option value="etsy">Etsy</option>
                                <option value="mercadolibre">MercadoLibre</option>
                                <option value="pagina_web">Página Web</option>
                                <option value="presencial">Presencial</option>
                                <option value="amazon">Amazon</option>
                                <option value="otro">Otro</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="opcion_envio">Opción de envío</label>
                            <select class="form-control" name="opcion_envio" id="opcion_envio">
                                <option value="todas">Todas</option>
                                <option value="al_cobro">Al cobro</option>
                                <option value="contado">Contado</option>
                                <option value="contraentrega">Contraentrega</option>
                                <option value="recoge_en_local">Recoge en local</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="empresa_envio">Empresa envío</label>
                            <select class="form-control" name="empresa_envio" id="empresa_envio">
                                <option value="todas">Todas</option>
                                <option value="">Sin asignar</option>
                                <option value="interrapidisimo">Interrapidisimo</option>
                                <option value="servientrega">Servientrega</option>
                                <option value="472">4/72</option>
                                <option value="mensajero">Mensajero</option>
                                <option value="envia">Envia</option>
                                <option value="coordinadora">Coordinadora</option>
                                <option value="deprisa">Deprisa</option>
                                <option value="tcc">TCC</option>
                                <option value="saferbo">Saferbo</option>
                                <option value="otro">Otro</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="tiempo_estimado">Tiempo estimado de entrega</label>
                            <select class="form-control" name="tiempo_estimado" id="tiempo_estimado">
                                <option value="todas">Todas</option>
                                <option value="24h">24 horas</option>
                                <option value="a">CAT A: 1 a 3 días</option>
                                <option value="b">CAT B: 3 a 5 días</option>
                                <option value="c">CAT C: 5 a 7 días</option>
                                <option value="d">CAT D: 7 a 10 días</option>
                                <option value="e">CAT E: 10 a 15 días</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group align-self-end">
                            <button class="btn btn-primary btn-block" id="buscador_ordenes">Buscar</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-2">

                <div class="col-12">
                    
                    <table class="table table-bordered table-hover table-sm table-responsive-lg" id="tabla_ordenes">

                        <thead>
                            <th>Prioritaria</th>
                            <th>Número de órden</th>
                            <th>Prendas</th>
                            <th>Nombre del cliente</th>
                            <th>Identificación del cliente</th>
                            <th>Estado</th>
                            <th>Precio total</th>
                            <th>Abono</th>
                            <th>Debe</th>
                            <th>Despachada</th>
                            <th>Creada por</th>
                        </thead>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>

<script src="{{url_for('static', filename='script/informes-almacen.js')}}"></script>

{%endblock%}