{%extends "navegacion.html"%}

{% import 'macros.html' as macros %}

{%block content%}


<div class="container-fluid">

    <div class="row">

        <div class="col-12">

            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a href="#tabordenes" class="nav-link active" data-toggle="tab">Órdenes</a>
                </li>

                <li class="nav-item">
                    <a href="#tabprendas" class="nav-link" data-toggle="tab">Prendas</a>
                </li>

                <li class="nav-item">
                    <a href="#tabestadisticas" class="nav-link" data-toggle="tab">Estadísticas</a>
                </li>
            </ul>
        
        </div>

    </div>

    <div class="tab-content">

        <div class="tab-pane fade show active" id="tabordenes" role="tabpanel">

            <div class="row mt-2">
                <div class="col-12">
                    <div class="form-row">

                        <div class="col-12 col-lg-3 form-group">
                            <label for="estado_orden">Estado</label>
                            <select name="estado_orden" id="estado_orden" class="form-control">
                                <option value="todas">Todas</option>
                                {{ macros.estados_orden_options(estados_orden) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="marca">Marca</label>
                            <select name="marca" id="marca" class="form-control">
                                <option value="todas">Todas</option>
                                {{ macros.marcas_options(marcas) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="prioridad">Prioritaria</label>
                            <select name="prioridad" id="prioridad" class="form-control">
                                <option value="todas">Todas</option>
                                <option value="si">Si</option>
                                <option value="no">No</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="pagado">Orden paga</label>
                            <select name="pagado" id="pagado" class="form-control">
                                <option value="todas">Todas</option>
                                <option value="si">Si</option>
                                <option value="no">No</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="identificacion">Identificación del cliente</label>
                            <input type="text" class="form-control" name="identificacion" id="identificacion">
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="telefono">Telefono del cliente</label>
                            <input type="text" class="form-control" name="telefono" id="telefono">
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="fecha">Fecha de creación</label>
                            <input type="date" class="form-control" name="fecha" id="fecha">
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="fecha">Medio de compra</label>
                            <select class="form-control" name="medio_compra" id="medio_compra">
                                <option value="todas">Todas</option>
                                {{ macros.medios_compra_options(medios_compra) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="opcion_envio">Opción de envío</label>
                            <select class="form-control" name="opcion_envio" id="opcion_envio">
                                <option value="todas">Todas</option>
                                {{ macros.opciones_envio_options(opciones_envio) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="empresa_envio">Empresa envío</label>
                            <select class="form-control" name="empresa_envio" id="empresa_envio">
                                <option value="todas">Todas</option>
                                <option value="">Sin asignar</option>
                                {{ macros.empresas_envio_options(empresas_envio) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="tiempo_estimado">Tiempo estimado de entrega</label>
                            <select class="form-control" name="tiempo_estimado" id="tiempo_estimado">
                                <option value="todas">Todas</option>
                                {{ macros.categorias_envio_options(categorias_envio) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group align-self-end">
                            <button class="btn btn-primary btn-block" id="buscador_ordenes">Buscar</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-2">

                <div class="col-12">

                    <table class="table table-bordered table-hover table-sm table-responsive" id="tabla_ordenes">
                        <thead>
                            <th>Prioritaria</th>
                            <th>Número de órden</th>
                            <th>Prendas</th>
                            <th>Nombre del cliente</th>
                            <th>Identificación del cliente</th>
                            <th>Teléfono</th>
                            <th>Estado</th>
                            <th>Precio total</th>
                            <th>Abono</th>
                            <th>Debe</th>
                            <th>Pagado</th>
                            <th>Creada por</th>
                        </thead>
                    </table>

                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tabprendas" role="tabpanel">

            <div class="row mt-2">
                <div class="col-12">
                    <div class="form-row">

                        <div class="col-12 col-lg-3 form-group">
                            <label for="orden-prenda">Orden</label>
                            <input type="text" class="form-control" name="orden-prenda" id="orden-prenda">
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="tipo-prenda">Tipo de prenda</label>
                            <select name="tipo-prenda" id="tipo-prenda" class="form-control">
                                <option value="todas">Todas</option>
                                {{ macros.prendas_options(prendas)}}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="usuario-responsable-prenda">Usuario responsable</label>
                            <input type="text" class="form-control" name="usuario-responsable-prenda" id="usuario-responsable-prenda">
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="area-responsable-prenda">Área responsable</label>
                            <select name="area-responsable-prenda" id="area-responsable-prenda" class="form-control">
                                <option value="">Todas</option>
                                {{ macros.areas_options(areas) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="prioridad-prenda">Prioritaria</label>
                            <select name="prioridad-prenda" id="prioridad-prenda" class="form-control">
                                <option value="todas">Todas</option>
                                <option value="si">Si</option>
                                <option value="no">No</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="material">Sin material</label>
                            <select name="material" id="material" class="form-control">
                                <option value="todas">Todas</option>
                                <option value="sin material">Sin material</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group align-self-end">
                            <button class="btn btn-primary btn-block" id="buscador_prendas">Buscar</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-2">

                <div class="col-12">
                    
                    <table class="table table-bordered table-sm table-hover table-responsive" id="tabla_prendas">

                        <thead>
                            <th>Prioritaria</th>
                            <th>Numero de órden</th>
                            <th>Tipo</th>
                            <th>Cantidad</th>
                            <th>Área</th>
                            <th>Responsable</th>
                        </thead>

                    </table>

                </div>

            </div>

        </div>



        <div class="tab-pane fade" id="tabestadisticas" role="tabpanel">

            <div class="row mt-2">
                <div class="col-12">
                    <div class="form-row">

                        <div class="col-12 col-lg-3 form-group">
                            <label for="estadisticas-fecha-desde">Desde</label>
                            <input type="date" class="form-control" name="estadisticas-fecha-desde" id="estadisticas-fecha-desde">
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="estadisticas-fecha-hasta">Hasta</label>
                            <input type="date" class="form-control" name="estadisticas-fecha-hasta" id="estadisticas-fecha-hasta">
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="estadisticas-tipo-prenda">Tipo de prenda</label>
                            <select name="estadisticas-tipo-prenda" id="estadisticas-tipo-prenda" class="form-control">
                                <option value="todas">Todas</option>
                                {{ macros.prendas_options(prendas)}}
                            </select>
                        </div>
                    
                    </div>


                    <div class="form-row">

                        <div class="col-12 col-lg-3 form-group">
                            <label for="estadisticas-estado_orden">Estado</label>
                            <select name="estadisticas-estado_orden" id="estadisticas-estado_orden" class="form-control">
                                <option value="todas">Todas</option>
                                {{ macros.estados_orden_options(estados_orden) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="estadisticas-marca">Marca</label>
                            <select name="estadisticas-marca" id="estadisticas-marca" class="form-control">
                                <option value="todas">Todas</option>
                                {{ macros.marcas_options(marcas) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="estadisticas-identificacion">Identificación del cliente</label>
                            <input type="text" class="form-control" name="estadisticas-identificacion" id="estadisticas-identificacion">
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="estadisticas-medio_compra">Medio de compra</label>
                            <select class="form-control" name="estadisticas-medio_compra" id="estadisticas-medio_compra">
                                <option value="todas">Todas</option>
                                {{ macros.medios_compra_options(medios_compra) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="estadisticas-opcion_envio">Opción de envío</label>
                            <select class="form-control" name="estadisticas-opcion_envio" id="estadisticas-opcion_envio">
                                <option value="todas">Todas</option>
                                {{ macros.opciones_envio_options(opciones_envio) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="estadisticas-empresa_envio">Empresa envío</label>
                            <select class="form-control" name="estadisticas-empresa_envio" id="estadisticas-empresa_envio">
                                <option value="todas">Todas</option>
                                <option value="">Sin asignar</option>
                                {{ macros.empresas_envio_options(empresas_envio) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group">
                            <label for="estadisticas-tiempo_estimado">Tiempo estimado de entrega</label>
                            <select class="form-control" name="estadisticas-tiempo_estimado" id="estadisticas-tiempo_estimado">
                                <option value="todas">Todas</option>
                                {{ macros.categorias_envio_options(categorias_envio) }}
                            </select>
                        </div>

                        <div class="col-12 col-lg-3 form-group align-self-end">
                            <button class="btn btn-primary btn-block" id="buscador_estadisticas">Buscar</button>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 col-md-6 form-group">
                    <label for="estadisticas-total-prendas">Total prendas</label>
                    <input type="text" class="form-control" name="estadisticas-total-prendas" id="estadisticas-total-prendas" readonly>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="estadisticas-total-dinero">Total dinero</label>
                    <input type="text" class="form-control" name="estadisticas-total-dinero" id="estadisticas-total-dinero" readonly>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <table class="table table-bordered table-sm table-hover table-responsive" id="tabla_estadisticas">
                        <thead>
                            <th>Número de órden</th>
                            <th>Cliente</th>
                            <th>Marca</th>
                            <th>Medio de compra</th>
                            <th>Opcion de envío</th>
                            <th>Empresa de envío</th>
                            <th>Categoría</th>
                            <th>Número de prendas</th>
                            <th>Valor</th>
                        </thead>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>

<script src="{{url_for('static', filename='script/informes.js')}}"></script>

{%endblock%}